.app {
    font-family: Arial, sans-serif;
    width: 380px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A7D9CB;
    position: relative;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mint-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.main-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #A7D9CB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #A7D9CB;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
}

.search-button,
.microphone-button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #A7D9CB;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.search-button {
    flex-shrink: 0;
}

.microphone-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 1;
}

.icon-and-bubble {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.large-mint-icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}



.postloading-large-mint-icon {
    position: relative;
    top: -130px;
    left: 115px
}

.bubble {
    position: relative;
    width: 320px;
    height: 185px;
    padding: 1px;
    background: #A7D9CB;
    border-radius: 10px;
    border: #A7D9CB solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-left: -110px;
    margin-bottom: 20px;
}

.bubble::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #A7D9CB transparent;
    display: block;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.welcome-text {
    margin-left: 10px;
    text-align: left;
}

.welcome-text h2 {
    margin: 0;
    font-size: 18px;
}

.welcome-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.search-instruction {
    margin: 10px 0;
    font-size: 14px;
    color: #777;
}

.home-button {
    background-color: #A7D9CB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.home-button:hover {
    background-color: #96c8b6;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}