.app {
    font-family: Arial, sans-serif;
    max-width: 380px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A7D9CB;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mint-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.main-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.large-mint-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.search-instruction {
    margin: 20px 0 10px;
    font-size: 14px;
    color: #777;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #A7D9CB;
    border-radius: 5px;
    margin-right: 10px;
}

#search_btn,
.record-btn {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #A7D9CB;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.ad-content {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.ad-content h3 {
    margin: 0;
    font-size: 18px;
}